.root {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
}


.output-label {
    -fx-background-color: transparent !important;
    -fx-text-fill: white !important;
    -fx-border-color: black !important;
}

/* Input fields */
.input-field {
    -fx-background-color: #3c3f41 !important;
    -fx-text-fill: white !important;
    -fx-border-color: black !important;
}

/* Style for input labels: "Dósir", "Flöskur", "Samtals" */
.input-label {
    -fx-background-color: transparent !important;
    -fx-text-fill: white !important;
    -fx-border-color: black !important;
    -fx-border-width: 1px !important;
    -fx-padding: 5px !important;
    -fx-alignment: center-left !important;
}

.button {
    -fx-background-color: #74C476 !important;
    -fx-text-fill: white !important;
    -fx-border-color: transparent !important;
    -fx-border-width: 0 !important;
    -fx-background-insets: 0 !important;
    -fx-background-radius: 0 !important;
    -fx-padding: 5 10 !important;
    -fx-effect: none !important;
    -fx-opacity: 1 !important;
}
.confirmation-label {
    -fx-text-fill: white;
}


.button:armed, .button:pressed {
    -fx-background-color: #3c3f41 !important;
}


.button:focused {
    -fx-focus-color: transparent !important;
    -fx-faint-focus-color: transparent !important;
}


.button:hover {
    -fx-background-color: #C7E9C0 !important;
}
.check-box {
    -fx-text-fill: white;
}
.undo-redo-button {
    -fx-background-color: #a1d6f7 !important;  /* same as in light mode */
    -fx-text-fill: black !important;
    -fx-border-color: black !important;
    -fx-border-width: 1px !important;
    -fx-padding: 5px !important;
}

.undo-redo-button:hover {
    -fx-background-color: #E5EDFF !important; /* same hover as in light mode */
}

#fxDosirLabel,
#fxFloskurLabel,
#fxSamtalsLabel{
    -fx-text-fill: white;
}

.output-label {
    -fx-background-color: #AEC6CF !important;
    -fx-text-fill:#4d4d4d !important;
    -fx-border-color: black !important;
}

