.label {
    -fx-background-color: #AEC6CF;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-alignment: center-left;
}
.text-field {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}
.button {
    -fx-background-color: lightgrey;
    -fx-padding: 5px;
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.vbox {
    -fx-background-color: #f4f4f4;
    -fx-padding: 15px;
    -fx-spacing: 10px;
}
#fxDosirLabel,
#fxFloskurLabel,
#fxGreida,
#fxHreinsa {
    -fx-font-weight: bold;
}

